# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/

# LaTeX (fichiers temporaires)
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk

# Éditeurs
.vscode/
.idea/
.DS_Store